@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background-color: #1e1e1e;
}

.secondary-bg {
  background-color: #0f5048;
}

/* Hide scrollbar - Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar - Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
